{% block sw_order_detail_base__bucs_order_timeline %}{% endblock %}

{% block sw_order_detail_base_custom_fields %}
    {%  parent %}
    <bucs-order-timeline :order="order"></bucs-order-timeline>
{% endblock %}
