{% block sw_order_line_items_grid %}
    <sw-container type="row" class="sw-order-line-items-grid">

        {% block sw_order_line_items_grid_actions %}
            <sw-container class="sw-order-line-items-grid__actions-container"
                          columns="1fr auto"
                          gap="16px"
                          v-show="editable">

                {% block sw_order_line_items_grid_line_item_filter %}
                    <div align="left">
                        <sw-card-filter ref="itemFilter"
                                        :placeholder="$tc('sw-order.createBase.placeholderSearchBarItem')"
                                        @sw-card-filter-term-change="onSearchTermChange">
                        </sw-card-filter>
                    </div>
                {% endblock %}

                {% block sw_order_line_items_grid_create_actions %}
                    <div align="right">
                        {% block sw_order_line_items_grid_create_actions_button_group %}
                            <sw-button-group :disabled="isLoading">

                                {% block sw_order_line_items_grid_add_existing_product %}
                                    <sw-button class="sw-order-line-items-grid__actions-container-add-product-btn"
                                               variant="ghost"
                                               size="small"
                                               @click="onInsertExistingItem">
                                        {{ $tc('sw-order.detailBase.buttonAddProduct') }}
                                    </sw-button>
                                {% endblock %}

                                {% block sw_order_line_items_grid_create_actions_dropdown%}
                                    <sw-context-button>
                                        <template #button>
                                            <sw-button variant="ghost"
                                                       size="small"
                                                       square>
                                                <sw-icon name="small-arrow-small-down"
                                                         decorative>
                                                </sw-icon>
                                            </sw-button>
                                        </template>

                                        {% block sw_order_line_items_grid_create_actions_dropdown%}
                                            <sw-context-menu-item @click="onInsertBlankItem">
                                                {{ $tc('sw-order.detailBase.buttonAddBlankProduct') }}
                                            </sw-context-menu-item>
                                            <sw-context-menu-item
                                                class="sw-order-line-items-grid__can-create-discounts-button"
                                                :disabled="!canCreateDiscounts"
                                                v-tooltip="{
                                                    message: $tc('sw-privileges.tooltip.warning'),
                                                    disabled: canCreateDiscounts,
                                                    showOnDisabledElements: true
                                                }"
                                                @click="onInsertCreditItem">
                                                {{ $tc('sw-order.detailBase.buttonAddCredit') }}
                                            </sw-context-menu-item>
                                        {% endblock %}
                                    </sw-context-button>
                                {% endblock %}
                            </sw-button-group>
                        {% endblock %}
                    </div>
                {% endblock %}
            </sw-container>
        {% endblock %}

        {% block sw_order_line_items_grid_grid %}
            <sw-data-grid :dataSource="orderLineItems"
                          :columns="getLineItemColumns"
                          :fullPage="false"
                          :showSettings="false"
                          :showSelection="editable"
                          :showActions="true"
                          :isLoading="isLoading"
                          :allowColumnEdit="false"
                          :allowInlineEdit="editable"
                          :compactMode="false"
                          identifier="sw-order-line-item-grid"
                          class="sw-order-line-items-grid__data-grid"
                          @inline-edit-cancel="onInlineEditCancel"
                          @inline-edit-save="onInlineEditSave"
                          @selection-change="onSelectionChanged"
                          :isRecordEditable="(item) => !isPromotionItem(item)">

                {% block sw_order_line_items_grid_grid_columns %}

                    {% block sw_order_line_items_grid_grid_columns_productImage %}
                        <template #column-productImage="{ item }">
                            <sw-media-preview-v2 :source="item.coverId"></sw-media-preview-v2>
                        </template>
                    {% endblock %}

                {% block sw_order_line_items_grid_grid_columns_pNumber %}
                <template #column-pNumber="{ item}" >
                    <div v-if="item.payload">
                        {{ item.payload.productNumber }}
                    </div>
                </template>
                {% endblock %}


                    {% block sw_order_line_items_grid_grid_columns_label %}
                        <template #column-label="{ item, isInlineEdit}">

                            {% block sw_order_line_items_grid_grid_columns_label_inline_edit %}
                                <sw-order-product-select v-if="isInlineEdit"
                                                         :salesChannelId="salesChannelId"
                                                         :taxStatus="taxStatus"
                                                         :item="item">
                                </sw-order-product-select>
                            {% endblock %}

                            {% block sw_order_line_items_grid_grid_columns_label_link %}
                                <router-link v-else-if="!isInlineEdit && isProductItem(item)"
                                             :title="$tc('sw-order.detailBase.contextMenuShowProduct')"
                                             :to="{ name: 'sw.product.detail', params: { id: item.productId } }">

                                    {% block sw_order_line_items_grid_column_payload_options %}
                                        <div v-if="item.payload && item.payload.options"
                                             class="sw-order-line-items-grid__item-payload-options">
                                            {{ item.payload.orderNumber }}
                                            <sw-product-variant-info :variations="item.payload.options">
                                                {{ item.label }}
                                            </sw-product-variant-info>
                                        </div>
                                    {% endblock %}
                                </router-link>
                            {% endblock %}

                            {% block sw_order_line_items_grid_grid_columns_label_content %}
                                <template v-else>
                                    {{ item.label }}
                                </template>
                            {% endblock %}

                        </template>
                    {% endblock %}

                    {% block sw_order_line_items_grid_grid_columns_unit_price %}
                        <template #column-unitPrice="{ item, isInlineEdit}">

                            {% block sw_order_line_items_grid_grid_columns_unit_price_inline_edit %}
                                <sw-number-field v-if="isInlineEdit && !itemCreatedFromProduct(item.id)"
                                                 v-model="item.priceDefinition.price"
                                                 placeholder="0"
                                                 size="small"
                                                 :min="getMinItemPrice(item.id)"
                                                 @change="checkItemPrice($event, item)">
                                </sw-number-field>
                            {% endblock %}

                            {% block sw_order_line_items_grid_grid_columns_unit_price_content %}
                                <template v-else>
                                    {{ item.unitPrice | currency(order.currency.shortName) }}
                                </template>
                            {% endblock %}

                        </template>
                    {% endblock %}

                    {% block sw_order_line_items_grid_grid_columns_total_price %}
                        <template #column-totalPrice="{ item }">
                            {% block sw_order_line_items_grid_grid_columns_total_price_content %}
                                {{ item.totalPrice | currency(order.currency.shortName) }}
                            {% endblock %}
                        </template>
                    {% endblock %}

                    {% block sw_order_line_items_grid_grid_columns_quantity %}
                        <template #column-quantity="{ item, isInlineEdit }">

                            {% block sw_order_line_items_grid_grid_columns_quantity_inline_edit %}
                                <sw-number-field v-if="isInlineEdit && !isCreditItem(item.id)"
                                                 numberType="int"
                                                 v-model="item.quantity"
                                                 :min="1"
                                                 size="small"
                                                 placeholder="0"
                                                 @change="updateItemQuantity(item)">
                                </sw-number-field>
                            {% endblock %}

                            {% block sw_order_line_items_grid_grid_columns_quantity_content %}
                                <template v-else>
                                    {{ item.quantity }}
                                </template>
                            {% endblock %}
                        </template>
                    {% endblock %}

                    {% block sw_order_line_items_grid_grid_columns_tax %}
                        <template #column-price.taxRules[0]="{ item, isInlineEdit }">

                            {% block sw_order_line_items_grid_grid_columns_tax_inline_edit %}
                                <sw-number-field v-if="isInlineEdit &&
                                                !itemCreatedFromProduct(item.id) &&
                                                item.priceDefinition &&
                                                item.priceDefinition.taxRules &&
                                                !isCreditItem(item.id)"
                                                 v-model="item.priceDefinition.taxRules[0].taxRate"
                                                 key="order-line-item-tax-edit-default"
                                                 size="small"
                                                 placeholder="0">
                                </sw-number-field>
                            {% endblock %}

                            {% block sw_order_line_items_grid_grid_columns_tax_content_tooltip %}
                                <span v-else-if="hasMultipleTaxes(item)"
                                      v-tooltip="tooltipTaxDetail(item)"
                                      class="sw-order-line-items-grid__item-tax-tooltip">
                                    {{ showTaxValue(item) }}
                                </span>
                            {% endblock %}

                            {% block sw_order_line_items_grid_grid_columns_tax_content %}
                                <template v-else-if="item.price && item.price.taxRules.length">
                                    {{ showTaxValue(item) }}
                                </template>
                            {% endblock %}

                        </template>
                    {% endblock %}

                    {% block sw_order_line_items_grid_grid_actions %}
                        <template #actions="{ item }">
                            {% block sw_order_line_items_grid_grid_actions_show %}
                                <sw-context-menu-item :disabled="!isProductItem(item)"
                                                      icon="default-eye-open"
                                                      :routerLink="{ name: 'sw.product.detail', params: { id: item.productId } }">
                                    {% block sw_order_line_items_grid_grid_actions_show_label %}
                                        {{ $tc('sw-order.detailBase.contextMenuShowProduct') }}
                                    {% endblock %}
                                </sw-context-menu-item>
                            {% endblock %}
                        </template>
                    {% endblock %}

                    {% block sw_order_line_items_grid_bulk_actions %}
                        <template #bulk>
                            {% block sw_order_line_items_grid_bulk_actions_delete %}
                                <a class="link link-danger" @click="onDeleteSelectedItems">
                                    {{ $tc('global.default.delete') }}
                                </a>
                            {% endblock %}
                        </template>
                    {% endblock %}

                {% endblock %}

            </sw-data-grid>
        {% endblock %}
    </sw-container>
{% endblock %}
